@charset 'UTF-8';

body {
    background-image: linear-gradient(to right, #BA8CED, #A593BA)
}

h1#principal {
    color: white;
    text-align: center;
    font: italic normal 2em Arial, Helvetica, sans-serif;
    background-color: rgba(14, 202, 14, 0.678);
}

h1 {
    color: #ED503D;
}


h2 {
    color: #BA6056;
}

.basico {
    color: blue;
    font-style: italic;
}
.intermediario {
    color: yellow;

}
.avancado {
    color: purple;

}
.destaque {
    background-color: darkturquoise;
}